@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root{
    --pika-yellow:rgb(255, 213, 0);
    --pika-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    --pika-font:'Lato', sans-serif;
    --pika-transition: all 200ms ease;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background: url(img/bg1.jpg) center/cover;*/
    background: white;
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    position: relative;
    width: 430px;
    margin: auto;
    height: 90%;
    font-family: var(--pika-font);
}

.head{
    position: relative;
    top: 55px;
    background-color: var(--pika-yellow);
    border-radius: 48% 52% 50% 50% / 59% 59% 41% 41%;
    height: 300px;
    width: 400px;
    margin: auto;
    box-shadow: var(--pika-shadow);
}

.ear{
    position: absolute;
    transform: rotate(-30deg) translateX(40px);
    background: linear-gradient(to bottom, #000000 0%,#000000 25%,var(--pika-yellow) 25%, var(--pika-yellow) 100%);
    border-radius: 54% 46% 0% 0% / 100% 100% 0% 0% ;
    height: 220px;
    width: 68px;
    box-shadow: var(--pika-shadow);
}

.ear:nth-of-type(2){
    right: 5px;
    transform: rotate(35deg) translateX(-10px);
}

.body{
    background-color: var(--pika-yellow);
    height: 400px;
    width: 430px;
    border-radius: 49% 51% 50% 50% / 78% 81% 19% 22% ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(255, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    display: flex;
    align-items: center;
}

.body::before{
    content: '';
    background-color: var(--pika-yellow);
    right: 22px;
    height: 400px;
    width: 380px;
    border-radius: 49% 51% 50% 50% / 78% 81% 19% 22%;
    position: absolute;
    z-index: -1;
    transform: rotate(180deg);
    box-shadow:  rgba(0, 0, 0, 0.1) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0) 0px -36px 30px 0px inset, rgb(0, 0, 0, 0.1) 0px -79px 10px 0px inset, rgba(255, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.04) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(255, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.buttons{
    /*background:url('img/bg2.png') center/cover black;*/
    width: 80%;
    height: 76%;
    border-radius: 10px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #ffffff00;
    backdrop-filter: blur(4px);
    z-index: 10;
}

.buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: #ffffff3f;
    border: 0.01px solid rgba(255, 255, 255, 0.266);
    cursor: pointer;
    transition: var(--pika-transition);
}

.buttons button:hover{
    background-color: #ffffff90;
}

.operador, .buttons :nth-child(1), .buttons :nth-child(4){
    background: rgba(255, 0, 0, 0.181);
}

.operador:hover, .buttons :nth-child(1):hover, .buttons :nth-child(4):hover{
    background: rgba(0, 0, 0, 0.456);
    color: white;
}

.equal:hover{
    background: #000000;
}

.equal{
    grid-row: span 2;
    background-color: red;
    color: white;
}

.zero{
    grid-column: span 2;
}

.display{
    width: 80%;
    height: 80px;
    position: absolute;
    bottom: 70px;
    left: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.855);
    backdrop-filter: blur(5px);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display div{
    height: 49%;
    font-size: 22px;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    padding: 0 20px;
    align-items: center;
}

.display div:first-child{
    font-size: 30px;
    overflow: hidden;
}

.cheek{
    width: 50px;
    height: 60px;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 95px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.258) inset;
}

.cheek:first-of-type{
    left: 5px;
}

.cheek:last-of-type{
    right: 5px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.258) inset;
}

.eye{
    height: 70px;
    width: 60px;
    background: #000000;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    box-shadow: rgb(62, 48, 1) 0px -2px 8px 0px inset, rgba(78, 41, 2, 0.715) 0px -12px 5px 0px inset, rgba(91, 48, 2, 0.577) 0px -9px 20px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.eye:first-of-type{
    left: 250px;
}

.eye{
    left: 90px;
}

.eye::after{
    content: '';
    height: 22px;
    width: 20px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    right: 12px;
    top: 16px;
}

.eye-one::after{
    right: 28px;
}

.eye::before{
    content: '';
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    right: 36px;
    top: 12px;
}

.eye-one::before{
    right:15px;
}

.nose{
    height: 12px;
    width: 18px;
    background-color: #000000;
    position: absolute;
    border-radius: 49% 51% 50% 50% / 23% 23% 77% 77%;
    bottom: 150px;
    right: 48%;
}

.tale{
    background: linear-gradient(10deg,#811E08 0%, #811E08 20%, rgb(255, 213, 0) 10%);
    height: 200px;
    width: 350px;
    clip-path: polygon(0 93%, 15% 97%, 17% 75%, 30% 78%, 38% 50%, 78% 58%, 90% 10%, 32% 4%, 21% 57%, 8% 55%, 8% 86%, 0 85%);
    box-shadow: var(--pika-shadow);
    position: absolute;
    bottom: 120px;
    right: -320px;
    z-index: -1;
}

.foot,
.foot::after{
    width: 200px;
    height: 50px;
    border-radius:50% 50% 50% 50% / 73% 74% 26% 27%;    position: absolute;
    transform: rotate(-5deg);
    bottom: -25px;
    background: var(--pika-yellow);
    box-shadow: rgba(0, 0, 0, 0.1) 0px -23px 25px 0px inset;
}

.foot::after{
    content: '';
    transform: rotate(10deg) scaleX(-1);
    left: 240px;
}

.arm{
    height: 200px;
    width: 100px;
    background: var(--pika-yellow);
    position: absolute;
    border-radius: 49% 51% 50% 50% / 84% 86% 14% 16%;
    top: 40%;
    left: -35px;
    transform: rotate(-80deg);
    box-shadow: 0px 4px 12px inset rgba(0, 0, 0, 0.159);
}

.arm::after{
    content:'';
    background: var(--pika-yellow);
    position: absolute;
    top:-10px;
    right:20px;
    width: 60px;
    height: 40px;
    transform: rotate(2deg);
    clip-path: polygon(12% 76%, 10% 40%, 21% 51%, 25% 11%, 41% 38%, 49% 7%, 57% 33%, 63% 9%, 73% 40%, 91% 40%, 79% 60%);
    box-shadow: 0px -0px 1px inset rgba(0, 0, 0, 0.407);
}


.arm-two{
    top: 33%;
    right: -40px;
    rotate: 130deg;
    left: auto;
    background-color: var(--pika-yellow);
}

.mouth{
    height: 100px;
    width: 150px;
    background-color: rgb(197, 74, 95);
    position: absolute;
    bottom:40px;
    left: 30%;
    border-radius:49% 51% 46% 54% / 0% 0% 100% 100%;
    box-shadow: 8px 8px 20px inset rgb(72, 0, 0), 2px 2px 6px rgba(0, 0, 0, 0.395);
}

/*Switch*/
.switch{
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: absolute;
    top: 0px;
    right: 40px;
    cursor:pointer;
    display: flex;
    outline: none;
}

.switch::after{
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch:active{
    background: orange;
    color: black;
}

.switch:active::after{
    right: 0;
    left: unset;
    background-color: aqua;
}

#main{
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin: auto;
}

.switch span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: white;
}

@media (max-width:768px){
    body{
        background: none;
        overflow: auto;
        display: unset;
    }

    .switch{
        position: absolute;
        top:5px;
        right:5px;
        z-index: 100;
    }

    .switch::after{
        width: 29px;
        height: 26px;
    }

    .switch span{
        width: 25px;
        height: 25px;
        line-height: 25px;
        display: block;
        background: none;
        color: white;
    }

    .ear, .eye, .nose,.cheek, .mouth, .arm, .tale, .foot, .body::before{
        display: none;
    }

    .calculator{
        width: 100%;
        height: 100vh;
        position: relative;
    }

    .head{
        border-radius: 0;
        width: 100%;
        height:35%;
        position:unset;
        background: white;
        box-shadow: none;
        display: flex;
        align-items: flex-end;
    }

    .display{
        position: unset;
        width: 100%;
        height: 90%;
        border-radius: 0;
    }

    .display div{
        font-size: 30px;
    }
    
    .display div:first-child{
        font-size: 45px;
    }

    .body{
        border-radius: 0;
        width: 100%;
        height: 65%;
    }

    .buttons{
        width: 100%;
        height: 100%;
    }

    .buttons .button{
        font-size: 30px;
    }


    /*Dark mode*/
    body.dark .head-gengar, body.dark .eye-gengar, body.dark .head-gengar, body.dark .head-gengar::after{
        display: none;
    }

    body.dark .head{
        background:#2e1c4aea;
        background-image: none;
    }

    body.dark .calculator{
        background:#2e1c4aea;
    }

}